@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.lineUnderline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #4f46e5;
}

body {
  background-color: #f8f9fa;
}
